$i: !important;

$primary_color: #36688d;
$secondary_color: #f3cd05;
$tertiary_color: #f49f05;
$fourth_color: #f18904;
$fifth_color: #bda589;

$shadow_lite: #e1e1e1;
$shadow_medium: #ddd;
$shadow_dark: #aaa;

$body_font_size: 14px;
$container_gutter: 1.07em;
$gutter: $container_gutter / 2;
$item_gutter: $body_font_size;